.background-image {
    background-image: url('../images/ost.jpeg');
    background-position: center;
    background-size: cover;
    height: 50vh;
    overflow: auto;
    padding: 0;

}

.name {
    font-weight: bold;
}