.background-image {
    background-image: url('../images/gardemoen.webp');
    background-size: cover;
    height: 50vh;
    overflow: auto;
    padding: 0;
    
}

h1, h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}
    
p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 20px;
}
    
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
    
li {
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 10px;
}
    
li:before {
    content: "\2022";
    margin-right: 10px;
    color: #ff5a5f;
}