.background-image {
    background-image: url('../images/barcode.jpg');
    background-size: cover;
    height: 100vh;
    overflow: auto;
    padding: 0;
    display: grid;
    grid-template-rows:  1fr 1fr
}

.registration {
    color: white;
    grid-row-start: 2;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.arrow-container {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@-webkit-keyframes fade_move_down {
    0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  @-moz-keyframes fade_move_down {
    0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  @keyframes fade_move_down {
    0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }

.arrow-down {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 1em;
    height: 1em;
    -webkit-animation: fade_move_down 3s ease-in-out infinite;
    -moz-animation:    fade_move_down 3s ease-in-out infinite;
    animation:         fade_move_down 3s ease-in-out infinite;
}

#regisration-link {
    color: inherit;
}

@media screen and (min-width: 551px) {
    .registration p {
        font-size: 1.25em;
    }
 
}
@media screen and (max-width: 550px) and (min-width: 300px){
    .registration h1 {
        font-size: 1.2em;
    }
    .registration p {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 299px) {
    .registration h1 {
        font-size: 1em;
    }
    .registration p {
        font-size: 0.8em;
    }
}