.background-image {
    background-image: url('../images/oslo-night.jpg');
    background-size: cover;
    height: 50vh;
    overflow: auto;
    padding: 0;
    background-position: 20%;
    
}

.schedule-header {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .schedule-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
  
  .schedule-date {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .schedule-day {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .schedule-event {
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 0.5rem;
  }
  
  .schedule-description {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .schedule-time {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .schedule-activity {
    font-size: 1rem;
    margin-bottom: 1rem;
  }